<?xml version="1.0"?>
<model>
  <name>tadeocar_v1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Axioma</name>
    <email>axioma@tadeorobotics.com</email>
  </author>

  <description>
    TadeoeCar 4WS4WD - Robot movil con 4 ruedas direccionales e independientes para SLAM
  </description>
</model>
